In [3]:
import pandas as pd
data = {
    'Ename': ['Pramod', 'Mohan', 'Lojith', 'Ashwini', 'Amar', 'Roshan'],
    'Type': ['Regular', 'Contract', 'Adhoc', 'Regular', 'Adhoc', 'Regular'],
    'Department': ['EC', 'CS', 'EC', 'EC', 'CS', 'CS'],
    'Experience': [8, 9, 14, 5, 20, 10],
    'Salary': [40000, 10000, 15000, 15000, 30000, 50000]
}

df = pd.DataFrame(data)
print(df)

     Ename      Type Department  Experience  Salary
0   Pramod   Regular         EC           8   40000
1    Mohan  Contract         CS           9   10000
2   Lojith     Adhoc         EC          14   15000
3  Ashwini   Regular         EC           5   15000
4     Amar     Adhoc         CS          20   30000
5   Roshan   Regular         CS          10   50000

In [4]:
#  Find the average salary of "Regular" Faculty
avg_regular_salary = df[df['Type'] == 'Regular']['Salary'].mean()
print(avg_regular_salary)

Average salary of Regular faculty: 35000.0

In [7]:
# Display number of faculties available in each type
faculty_count = df['Type'].value_counts()
print(faculty_count)

Type
Regular     3
Adhoc       2
Contract    1
Name: count, dtype: int64

In [9]:
import pandas as pd
data = {
    'Number': [5, 4, 3, 2, 1],
    'Pencil': [520, 500, 400, 350, 250],
    'Textbooks': [500, 420, 450, 350, 300],
    'Drawing_sheets': [300, 250, 200, 150, 100],
    'Total_units': [1510, 1320, 1025, 950, 700],
    'Profit': [15000, 12000, 10256, 9500, 8000]
}

df = pd.DataFrame(data)
print (df)

   Number  Pencil  Textbooks  Drawing_sheets  Total_units  Profit
0       5     520        500             300         1510   15000
1       4     500        420             250         1320   12000
2       3     400        450             200         1025   10256
3       2     350        350             150          950    9500
4       1     250        300             100          700    8000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          5 non-null      int64
 1   Pencil          5 non-null      int64
 2   Textbooks       5 non-null      int64
 3   Drawing_sheets  5 non-null      int64
 4   Total_units     5 non-null      int64
 5   Profit          5 non-null      int64
dtypes: int64(6)
memory usage: 372.0 bytes

In [11]:
df.isnull()

   Number  Pencil  Textbooks  Drawing_sheets  Total_units  Profit
0   False   False      False           False        False   False
1   False   False      False           False        False   False
2   False   False      False           False        False   False
3   False   False      False           False        False   False
4   False   False      False           False        False   False

In [14]:
sd= df['Profit'].sum()
print(sd)

54756

In [15]:
cf= df['Drawing_sheets'].max()
print(cf)

300

In [12]:
df.plot(kind= 'line', x='Number', y='Profit')
plt.show()

NameError: name 'df' is not defined

In [14]:
plt.hist(df['Profit'])
plt.show()

NameError: name 'plt' is not defined

In [ ]:
plt.hist(df['Profit'])
plt.show()